# Terraform state and backup files
*.tfstate
*.tfstate.backup
*.tfplan

# Terraform working directory
.terraform/

# Sensitive variable files (if you use them)
terraform.tfvars

# Local override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json


# IDE and OS junk
.DS_Store
.vscode/
.idea/